<ion-header>
  <ion-toolbar>
    <ion-title>
      APOD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="apod">
    <ion-card-header>
      <ion-card-subtitle>APOD - {{apod.date}}</ion-card-subtitle>
      <ion-card-title>{{apod.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="apod.url"></ion-img>
      <p>
        &copy; {{apod.copyright}}
      </p>
      <ion-row>
        <ion-col>
          <ion-button expand="block" [href]="apod.url" target="_">SD</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" [href]="apod.hdurl" target="_">HD</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
